##### T1-1 이상치(IQR)

- 데이터에서 IQR을 활용해 Fare컬럼의 이상치를 찾고, 이상치 데이터의 여성 수를 구하시오
- titanic/train.csv

In [19]:
import pandas as pd
import numpy as np

titanic_train = pd.read_csv('../data/titanic/train.csv')
titanic_train.head()

dir(pd)
dir(np)

lower_quantile = titanic_train['Fare'].quantile(0.25) # Q1
upper_quantile = titanic_train['Fare'].quantile(0.75) # Q3
iqr = upper_quantile - lower_quantile
iqr

lower_bound = lower_quantile - (1.5 * iqr) 
upper_bound = upper_quantile + (1.5 * iqr)

outlier = titanic_train.loc[(titanic_train['Fare'] < lower_bound)|(titanic_train['Fare'] > upper_bound)]['Sex']
outlier.head()

print(outlier[outlier == 'female'].count())

70

In [33]:
# 1-1 sol)

import pandas as pd
import numpy as np
df = pd.read_csv('../data/titanic/train.csv')

# print(df.isnull().sum())
# df.head()

Q1 = df['Fare'].quantile(0.25)
Q3 = df['Fare'].quantile(0.75)

IQR = Q3 - Q1

lower_bound = Q1 - 1.5*IQR
upper_bound = Q3 + 1.5*IQR

fare_outlier = df.loc[(df['Fare'] < lower_bound) | (df['Fare'] > upper_bound)]

print((f"({lower_bound}, {upper_bound})"))
print(sum(fare_outlier['Sex'] == 'female'))

(-26.724, 65.6344)
70

##### T1-2 이상치(소수점 나이)

- 주어진 데이터에서 이상치(소수점 나이)를 찾고 올림, 내림, 버림(절사)했을때 3가지 모두 이상치 'age' 평균을 구한 다음 모두 더하여 출력하시오
- basic.csv

In [44]:
dir(np)

['False_',
 'ScalarType',
 'True_',
 '_CopyMode',
 '_NoValue',
 '__NUMPY_SETUP__',
 '__all__',
 '__array_api_version__',
 '__array_namespace_info__',
 '__builtins__',
 '__cached__',
 '__config__',
 '__dir__',
 '__doc__',
 '__expired_attributes__',
 '__file__',
 '__former_attrs__',
 '__future_scalars__',
 '__getattr__',
 '__loader__',
 '__name__',
 '__numpy_submodules__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_array_api_info',
 '_core',
 '_distributor_init',
 '_expired_attrs_2_0',
 '_globals',
 '_int_extended_msg',
 '_mat',
 '_msg',
 '_pyinstaller_hooks_dir',
 '_pytesttester',
 '_specific_msg',
 '_type_info',
 '_typing',
 '_utils',
 'abs',
 'absolute',
 'acos',
 'acosh',
 'add',
 'all',
 'allclose',
 'amax',
 'amin',
 'angle',
 'any',
 'append',
 'apply_along_axis',
 'apply_over_axes',
 'arange',
 'arccos',
 'arccosh',
 'arcsin',
 'arcsinh',
 'arctan',
 'arctan2',
 'arctanh',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'argwhere',
 'around',
 'array',
 'array2string',
 'array_equal',
 'array_equiv',
 'array_repr',
 'array_split',
 'array_str',
 'asanyarray',
 'asarray',
 'asarray_chkfinite',
 'ascontiguousarray',
 'asfortranarray',
 'asin',
 'asinh',
 'asmatrix',
 'astype',
 'atan',
 'atan2',
 'atanh',
 'atleast_1d',
 'atleast_2d',
 'atleast_3d',
 'average',
 'bartlett',
 'base_repr',
 'binary_repr',
 'bincount',
 'bitwise_and',
 'bitwise_count',
 'bitwise_invert',
 'bitwise_left_shift',
 'bitwise_not',
 'bitwise_or',
 'bitwise_right_shift',
 'bitwise_xor',
 'blackman',
 'block',
 'bmat',
 'bool',
 'bool_',
 'broadcast',
 'broadcast_arrays',
 'broadcast_shapes',
 'broadcast_to',
 'busday_count',
 'busday_offset',
 'busdaycalendar',
 'byte',
 'bytes_',
 'c_',
 'can_cast',
 'cbrt',
 'cdouble',
 'ceil',
 'char',
 'character',
 'choose',
 'clip',
 'clongdouble',
 'column_stack',
 'common_type',
 'complex128',
 'complex64',
 'complexfloating',
 'compress',
 'concat',
 'concatenate',
 'conj',
 'conjugate',
 'convolve',
 'copy',
 'copysign',
 'copyto',
 'core',
 'corrcoef',
 'correlate',
 'cos',
 'cosh',
 'count_nonzero',
 'cov',
 'cross',
 'csingle',
 'ctypeslib',
 'cumprod',
 'cumsum',
 'cumulative_prod',
 'cumulative_sum',
 'datetime64',
 'datetime_as_string',
 'datetime_data',
 'deg2rad',
 'degrees',
 'delete',
 'diag',
 'diag_indices',
 'diag_indices_from',
 'diagflat',
 'diagonal',
 'diff',
 'digitize',
 'divide',
 'divmod',
 'dot',
 'double',
 'dsplit',
 'dstack',
 'dtype',
 'dtypes',
 'e',
 'ediff1d',
 'einsum',
 'einsum_path',
 'emath',
 'empty',
 'empty_like',
 'equal',
 'errstate',
 'euler_gamma',
 'exceptions',
 'exp',
 'exp2',
 'expand_dims',
 'expm1',
 'extract',
 'eye',
 'f2py',
 'fabs',
 'fft',
 'fill_diagonal',
 'finfo',
 'fix',
 'flatiter',
 'flatnonzero',
 'flexible',
 'flip',
 'fliplr',
 'flipud',
 'float16',
 'float32',
 'float64',
 'float_power',
 'floating',
 'floor',
 'floor_divide',
 'fmax',
 'fmin',
 'fmod',
 'format_float_positional',
 'format_float_scientific',
 'frexp',
 'from_dlpack',
 'frombuffer',
 'fromfile',
 'fromfunction',
 'fromiter',
 'frompyfunc',
 'fromregex',
 'fromstring',
 'full',
 'full_like',
 'gcd',
 'generic',
 'genfromtxt',
 'geomspace',
 'get_include',
 'get_printoptions',
 'getbufsize',
 'geterr',
 'geterrcall',
 'gradient',
 'greater',
 'greater_equal',
 'half',
 'hamming',
 'hanning',
 'heaviside',
 'histogram',
 'histogram2d',
 'histogram_bin_edges',
 'histogramdd',
 'hsplit',
 'hstack',
 'hypot',
 'i0',
 'identity',
 'iinfo',
 'imag',
 'in1d',
 'index_exp',
 'indices',
 'inexact',
 'inf',
 'info',
 'inner',
 'insert',
 'int16',
 'int32',
 'int64',
 'int8',
 'int_',
 'intc',
 'integer',
 'interp',
 'intersect1d',
 'intp',
 'invert',
 'is_busday',
 'isclose',
 'iscomplex',
 'iscomplexobj',
 'isdtype',
 'isfinite',
 'isfortran',
 'isin',
 'isinf',
 'isnan',
 'isnat',
 'isneginf',
 'isposinf',
 'isreal',
 'isrealobj',
 'isscalar',
 'issubdtype',
 'iterable',
 'ix_',
 'kaiser',
 'kron',
 'lcm',
 'ldexp',
 'left_shift',
 'less',
 'less_equal',
 'lexsort',
 'lib',
 'linalg',
 'linspace',
 'little_endian',
 'load',
 'loadtxt',
 'log',
 'log10',
 'log1p',
 'log2',
 'logaddexp',
 'logaddexp2',
 'logical_and',
 'logical_not',
 'logical_or',
 'logical_xor',
 'logspace',
 'long',
 'longdouble',
 'longlong',
 'ma',
 'mask_indices',
 'matmul',
 'matrix',
 'matrix_transpose',
 'matvec',
 'max',
 'maximum',
 'may_share_memory',
 'mean',
 'median',
 'memmap',
 'meshgrid',
 'mgrid',
 'min',
 'min_scalar_type',
 'minimum',
 'mintypecode',
 'mod',
 'modf',
 'moveaxis',
 'multiply',
 'nan',
 'nan_to_num',
 'nanargmax',
 'nanargmin',
 'nancumprod',
 'nancumsum',
 'nanmax',
 'nanmean',
 'nanmedian',
 'nanmin',
 'nanpercentile',
 'nanprod',
 'nanquantile',
 'nanstd',
 'nansum',
 'nanvar',
 'ndarray',
 'ndenumerate',
 'ndim',
 'ndindex',
 'nditer',
 'negative',
 'nested_iters',
 'newaxis',
 'nextafter',
 'nonzero',
 'not_equal',
 'number',
 'object_',
 'ogrid',
 'ones',
 'ones_like',
 'outer',
 'packbits',
 'pad',
 'partition',
 'percentile',
 'permute_dims',
 'pi',
 'piecewise',
 'place',
 'poly',
 'poly1d',
 'polyadd',
 'polyder',
 'polydiv',
 'polyfit',
 'polyint',
 'polymul',
 'polynomial',
 'polysub',
 'polyval',
 'positive',
 'pow',
 'power',
 'printoptions',
 'prod',
 'promote_types',
 'ptp',
 'put',
 'put_along_axis',
 'putmask',
 'quantile',
 'r_',
 'rad2deg',
 'radians',
 'random',
 'ravel',
 'ravel_multi_index',
 'real',
 'real_if_close',
 'rec',
 'recarray',
 'reciprocal',
 'record',
 'remainder',
 'repeat',
 'require',
 'reshape',
 'resize',
 'result_type',
 'right_shift',
 'rint',
 'roll',
 'rollaxis',
 'roots',
 'rot90',
 'round',
 'row_stack',
 's_',
 'save',
 'savetxt',
 'savez',
 'savez_compressed',
 'sctypeDict',
 'searchsorted',
 'select',
 'set_printoptions',
 'setbufsize',
 'setdiff1d',
 'seterr',
 'seterrcall',
 'setxor1d',
 'shape',
 'shares_memory',
 'short',
 'show_config',
 'show_runtime',
 'sign',
 'signbit',
 'signedinteger',
 'sin',
 'sinc',
 'single',
 'sinh',
 'size',
 'sort',
 'sort_complex',
 'spacing',
 'split',
 'sqrt',
 'square',
 'squeeze',
 'stack',
 'std',
 'str_',
 'strings',
 'subtract',
 'sum',
 'swapaxes',
 'take',
 'take_along_axis',
 'tan',
 'tanh',
 'tensordot',
 'test',
 'testing',
 'tile',
 'timedelta64',
 'trace',
 'transpose',
 'trapezoid',
 'trapz',
 'tri',
 'tril',
 'tril_indices',
 'tril_indices_from',
 'trim_zeros',
 'triu',
 'triu_indices',
 'triu_indices_from',
 'true_divide',
 'trunc',
 'typecodes',
 'typename',
 'typing',
 'ubyte',
 'ufunc',
 'uint',
 'uint16',
 'uint32',
 'uint64',
 'uint8',
 'uintc',
 'uintp',
 'ulong',
 'ulonglong',
 'union1d',
 'unique',
 'unique_all',
 'unique_counts',
 'unique_inverse',
 'unique_values',
 'unpackbits',
 'unravel_index',
 'unsignedinteger',
 'unstack',
 'unwrap',
 'ushort',
 'vander',
 'var',
 'vdot',
 'vecdot',
 'vecmat',
 'vectorize',
 'void',
 'vsplit',
 'vstack',
 'where',
 'zeros',
 'zeros_like']

In [57]:
import pandas as pd
import numpy as np

basic = pd.read_csv('../data/basic1.csv')
basic

# 나이 소수점있는 데이터 찾기
outlier = basic[(basic['age'] - np.floor(basic['age'])) != 0]
outlier.head()

outlier['올림'] = np.ceil(outlier['age'])
outlier.head()

outlier['내림'] = np.floor(outlier['age'])
outlier.head()

outlier['절사'] = np.trunc(outlier['age'])
outlier.head()

mean_1 = outlier['올림'].mean()
mean_2 = outlier['내림'].mean() # -5.5 내림 > -6
mean_3 = outlier['절사'].mean() # -5.5 절사 > -5

print(mean_1 + mean_2 + mean_3)

69.5

C:\Users\LGCARE\AppData\Local\Temp\ipykernel_6340\3823649341.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outlier['올림'] = np.ceil(outlier['age'])
C:\Users\LGCARE\AppData\Local\Temp\ipykernel_6340\3823649341.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outlier['내림'] = np.floor(outlier['age'])
C:\Users\LGCARE\AppData\Local\Temp\ipykernel_6340\3823649341.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outlier['절사'] = np.trunc(outlier['age'])

In [56]:
# 1-2 sol)

import pandas as pd
import numpy as np

df = pd.read_csv('../data/basic1.csv')
df.head()

# 나이가 소숫점인 데이터
df = df[(df['age'] - np.floor(df['age'])) != 0]
df

m_ceil = np.ceil(df['age']).mean()
m_floor = np.floor(df['age']).mean()
m_trunc = np.trunc(df['age']).mean()

m_ceil, m_floor, m_trunc

print(m_ceil + m_floor + m_trunc)

69.5

##### T1-3 결측치 처리

- 주어진 데이터에서 결측치가 80%이상 되는 컬럼은(변수는) 삭제하고, 80% 미만인 결측치가 있는 컬럼은 'city'별 중앙값으로 값을 대체하고 'f1'컬럼의 평균값을 출력하세요!
- basic1.csv

In [65]:
basic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      100 non-null    object
 1   age     100 non-null    float64
 2   city    100 non-null    object
 3   f1      69 non-null     float64
 4   f2      100 non-null    int64
 5   f4      100 non-null    object
 6   f5      100 non-null    float64
dtypes: float64(3), int64(1), object(3)
memory usage: 5.6+ KB

In [69]:
# dir(basic)
help(pd.DataFrame.groupby)

Help on function groupby in module pandas.core.frame:

groupby(self, by=None, axis: 'Axis | lib.NoDefault' = <no_default>, level: 'IndexLabel | None' = None, as_index: 'bool' = True, sort: 'bool' = True, group_keys: 'bool' = True, observed: 'bool | lib.NoDefault' = <no_default>, dropna: 'bool' = True) -> 'DataFrameGroupBy'
    Group DataFrame using a mapper or by a Series of columns.

    A groupby operation involves some combination of splitting the
    object, applying a function, and combining the results. This can be
    used to group large amounts of data and compute operations on these
    groups.

    Parameters
    ----------
    by : mapping, function, label, pd.Grouper or list of such
        Used to determine the groups for the groupby.
        If ``by`` is a function, it's called on each value of the object's
        index. If a dict or Series is passed, the Series or dict VALUES
        will be used to determine the groups (the Series' values are first
        aligned; see ``.align()`` method). If a list or ndarray of length
        equal to the selected axis is passed (see the `groupby user guide
        <https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html#splitting-an-object-into-groups>`_),
        the values are used as-is to determine the groups. A label or list
        of labels may be passed to group by the columns in ``self``.
        Notice that a tuple is interpreted as a (single) key.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Split along rows (0) or columns (1). For `Series` this parameter
        is unused and defaults to 0.

        .. deprecated:: 2.1.0

            Will be removed and behave like axis=0 in a future version.
            For ``axis=1``, do ``frame.T.groupby(...)`` instead.

    level : int, level name, or sequence of such, default None
        If the axis is a MultiIndex (hierarchical), group by a particular
        level or levels. Do not specify both ``by`` and ``level``.
    as_index : bool, default True
        Return object with group labels as the
        index. Only relevant for DataFrame input. as_index=False is
        effectively "SQL-style" grouped output. This argument has no effect
        on filtrations (see the `filtrations in the user guide
        <https://pandas.pydata.org/docs/dev/user_guide/groupby.html#filtration>`_),
        such as ``head()``, ``tail()``, ``nth()`` and in transformations
        (see the `transformations in the user guide
        <https://pandas.pydata.org/docs/dev/user_guide/groupby.html#transformation>`_).
    sort : bool, default True
        Sort group keys. Get better performance by turning this off.
        Note this does not influence the order of observations within each
        group. Groupby preserves the order of rows within each group. If False,
        the groups will appear in the same order as they did in the original DataFrame.
        This argument has no effect on filtrations (see the `filtrations in the user guide
        <https://pandas.pydata.org/docs/dev/user_guide/groupby.html#filtration>`_),
        such as ``head()``, ``tail()``, ``nth()`` and in transformations
        (see the `transformations in the user guide
        <https://pandas.pydata.org/docs/dev/user_guide/groupby.html#transformation>`_).

        .. versionchanged:: 2.0.0

            Specifying ``sort=False`` with an ordered categorical grouper will no
            longer sort the values.

    group_keys : bool, default True
        When calling apply and the ``by`` argument produces a like-indexed
        (i.e. :ref:`a transform <groupby.transform>`) result, add group keys to
        index to identify pieces. By default group keys are not included
        when the result's index (and column) labels match the inputs, and
        are included otherwise.

        .. versionchanged:: 1.5.0

           Warns that ``group_keys`` will no longer be ignored when the
           result from ``apply`` is a like-indexed Series or DataFrame.
           Specify ``group_keys`` explicitly to include the group keys or
           not.

        .. versionchanged:: 2.0.0

           ``group_keys`` now defaults to ``True``.

    observed : bool, default False
        This only applies if any of the groupers are Categoricals.
        If True: only show observed values for categorical groupers.
        If False: show all values for categorical groupers.

        .. deprecated:: 2.1.0

            The default value will change to True in a future version of pandas.

    dropna : bool, default True
        If True, and if group keys contain NA values, NA values together
        with row/column will be dropped.
        If False, NA values will also be treated as the key in groups.

    Returns
    -------
    pandas.api.typing.DataFrameGroupBy
        Returns a groupby object that contains information about the groups.

    See Also
    --------
    resample : Convenience method for frequency conversion and resampling
        of time series.

    Notes
    -----
    See the `user guide
    <https://pandas.pydata.org/pandas-docs/stable/groupby.html>`__ for more
    detailed usage and examples, including splitting an object into groups,
    iterating through groups, selecting a group, aggregation, and more.

    Examples
    --------
    >>> df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
    ...                               'Parrot', 'Parrot'],
    ...                    'Max Speed': [380., 370., 24., 26.]})
    >>> df
       Animal  Max Speed
    0  Falcon      380.0
    1  Falcon      370.0
    2  Parrot       24.0
    3  Parrot       26.0
    >>> df.groupby(['Animal']).mean()
            Max Speed
    Animal
    Falcon      375.0
    Parrot       25.0

    **Hierarchical Indexes**

    We can groupby different levels of a hierarchical index
    using the `level` parameter:

    >>> arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
    ...           ['Captive', 'Wild', 'Captive', 'Wild']]
    >>> index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
    >>> df = pd.DataFrame({'Max Speed': [390., 350., 30., 20.]},
    ...                   index=index)
    >>> df
                    Max Speed
    Animal Type
    Falcon Captive      390.0
           Wild         350.0
    Parrot Captive       30.0
           Wild          20.0
    >>> df.groupby(level=0).mean()
            Max Speed
    Animal
    Falcon      370.0
    Parrot       25.0
    >>> df.groupby(level="Type").mean()
             Max Speed
    Type
    Captive      210.0
    Wild         185.0

    We can also choose to include NA in group keys or not by setting
    `dropna` parameter, the default setting is `True`.

    >>> l = [[1, 2, 3], [1, None, 4], [2, 1, 3], [1, 2, 2]]
    >>> df = pd.DataFrame(l, columns=["a", "b", "c"])

    >>> df.groupby(by=["b"]).sum()
        a   c
    b
    1.0 2   3
    2.0 2   5

    >>> df.groupby(by=["b"], dropna=False).sum()
        a   c
    b
    1.0 2   3
    2.0 2   5
    NaN 1   4

    >>> l = [["a", 12, 12], [None, 12.3, 33.], ["b", 12.3, 123], ["a", 1, 1]]
    >>> df = pd.DataFrame(l, columns=["a", "b", "c"])

    >>> df.groupby(by="a").sum()
        b     c
    a
    a   13.0   13.0
    b   12.3  123.0

    >>> df.groupby(by="a", dropna=False).sum()
        b     c
    a
    a   13.0   13.0
    b   12.3  123.0
    NaN 12.3   33.0

    When using ``.apply()``, use ``group_keys`` to include or exclude the
    group keys. The ``group_keys`` argument defaults to ``True`` (include).

    >>> df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
    ...                               'Parrot', 'Parrot'],
    ...                    'Max Speed': [380., 370., 24., 26.]})
    >>> df.groupby("Animal", group_keys=True)[['Max Speed']].apply(lambda x: x)
              Max Speed
    Animal
    Falcon 0      380.0
           1      370.0
    Parrot 2       24.0
           3       26.0

    >>> df.groupby("Animal", group_keys=False)[['Max Speed']].apply(lambda x: x)
       Max Speed
    0      380.0
    1      370.0
    2       24.0
    3       26.0

In [74]:
# import sklearn
# dir(sklearn.preprocessing)

In [ ]:
basic.head()
# dir(np)
basic.isnull().sum() >= len(basic) * 0.8
basic.drop('f3', axis= 1, inplace= True)

In [137]:
# dir(np.float64)
# help(np.float64)

In [ ]:
basic.isnull().sum() # f1 : 31


city_f1_median = basic[['city', 'f1']].groupby(by = 'city').median()
print(city_f1_median)
# city_f1_median.index
# city_f1_median.loc['서울']['f1']

missing_data = basic[basic['f1'].isnull()]
missing_data.head()

for i in missing_data.index :
  city = basic.loc[i, 'city']
  basic.loc[i, 'f1'] = city_f1_median.loc[city]['f1']

# 잘 들어갔는지 확인
missing_data = basic[basic['f1'].isnull()]
missing_data.head()

print(basic['f1'].mean())

# 솔루션대로
# basic['f1'] = basic['f1'].fillna(df['city'].map({'서울' : city_f1_median['서울']['f1']})) # inplace

        f1
city
경기    58.0
대구    75.0
부산    62.0
서울    68.0
65.52

In [111]:
# 1-3. sol)
# pandas, numpy

df = pd.read_csv('../data/basic1.csv')
df.head()

df.isnull().sum()
df.shape

df.isnull().sum() / df.shape[0]

# f3 컬럼 삭제
print('삭제 전 : ', df.shape)
df = df.drop(['f3'], axis= 1)
print('삭제 후 : ', df.shape)

df['city'].unique()

seoul_median = df[df['city'] == '서울']['f1'].median()
kyeonggi_median = df[df['city'] == '경기']['f1'].median()
busan_median = df[df['city'] == '부산']['f1'].median()
daegu_median = df[df['city'] == '대구']['f1'].median()

# 방법 2
# k, d, b, s = df.groupby('city')['f1'].median()
seoul_median, kyeonggi_median, busan_median, daegu_median

df['f1'] = df['f1'].fillna(df['city'].map({'서울' : seoul_median,
                                            '경기' : kyeonggi_median,
                                            '부산' : busan_median,
                                            '대구' : daegu_median}))

df['f1'].mean()

삭제 전 :  (100, 8)
삭제 후 :  (100, 7)

np.float64(65.52)

##### T1-4 왜도/첨도(로그스케일)

- 주어진 데이터 중 train.csv에서 'SalePrice'컬럼의 왜도와 첨도를 구한 값과, 'SalePrice'컬럼을 스케일링(log1p)로 변환한 이후 왜도와 첨도를 구해 모두 더한 다음 소수점 2째자리까지 출력하시오
- houseprices / train.csv

In [126]:
# dir(np)
import sklearn
# dir(sklearn)
# import statistics
# dir(statistics)
import math
# dir(math) # log1p
# dir(pd.Series)
# dir(sklearn.preprocessing)

In [131]:
# Series : skew, kurt # kurtosis?
df = pd.read_csv('../data/houseprices/train.csv')
df.head()

saleprice_skew = df['SalePrice'].skew()
saleprice_kurt = df['SalePrice'].kurt()

df['log_SalePrice'] = df['SalePrice'].apply(math.log1p)
log_saleprice_skew = df['log_SalePrice'].skew()
log_saleprice_kurt = df['log_SalePrice'].kurt()

total = saleprice_skew + saleprice_kurt + log_saleprice_skew + log_saleprice_kurt
total_2f = round(total, 2)
print(total_2f)

9.35

In [136]:
# 1-4. Sol)
# df['SalePrice'].hist()

s1 = df['SalePrice'].skew()
k1 = df['SalePrice'].kurt()

df['SalePrice_log'] = np.log1p(df['SalePrice'])
# df['SalePrice_log'].hist()

s2 = df['SalePrice_log'].skew()
k2 = df['SalePrice_log'].kurt()

print(round(s1+s2+k1+k2,2))

9.35

##### T1-5 표준편차

- 주어진 데이터 중 basic1.csv에서 'f4'컬럼 값이 'ENFJ'와 'INFP'인 'f1'의 표준편차 차이를 절대값으로 구하시오
- basic1.csv

In [ ]:
df = pd.read_csv('../data/basic1.csv')
df.head()

df.isnull().sum()

enfj_std = df[df['f4'] == 'ENFJ']['f1'].std()
infp_std = df[df['f4'] == 'INFP']['f1'].std()

print(abs(enfj_std - infp_std))

# sol와 동일

5.859621525876811

##### T1-6 Groupby 합계

- 주어진 데이터 중 basic1.csv에서 'f1'컬럼 결측 데이터를 제거하고, 'city'와 'f2'을 기준으로 묶어 합계를 구하고, 'city가 경기이면서 f2가 0'인 조건에 만족하는 f1 값을 구하시오
- basic1.csv

In [156]:
df = pd.read_csv('../data/basic1.csv')
df.isnull().sum()

drop_df = df[~df['f1'].isnull()]
drop_df.isnull().sum()

grouped_df = drop_df.groupby(['city', 'f2'])['f1'].sum()
print(grouped_df['경기'][0])

833.0

In [162]:
# 1-6 sol)
df = pd.read_csv('../data/basic1.csv')
df = df.dropna(subset = ['f1'])

df2 = df.groupby(['city', 'f2'])[['age', 'f1', 'f5']].sum()
df2

print(df2.iloc[0]['f1'])

833.0

##### T1-7 값 변경

- 'f4'컬럼의 값이 'ESFJ'인 데이터를 'ISFJ'로 대체하고, 'city'가 '경기'이면서 'f4'가 'ISFJ'인 데이터 중 'age'컬럼의 최대값을 출력하시오!
- basic1.csv

In [19]:
# dir(df['f4'])
# help(pd.DataFrame.replace)

In [22]:
import pandas as pd

df = pd.read_csv('../data/basic1.csv')
df.head(10)

df['f4'].replace(to_replace= {'ESFJ' : 'ISFJ'}, inplace= True)
# df.head(10)

print(int(df[(df['city'] == '경기')&(df['f4'] == 'ISFJ')]['age'].max()))

# 90

90

C:\Users\LGCARE\AppData\Local\Temp\ipykernel_14564\558857038.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['f4'].replace(to_replace= {'ESFJ' : 'ISFJ'}, inplace= True)

In [26]:
# T1-7 SOL)
df = pd.read_csv('../data/basic1.csv')
df[df['f4'] == 'ESFJ']
df['f4'] = df['f4'].replace('ESFJ', 'ISFJ')

df[df['f4'] == 'ESFJ']
df[(df['f4'] == 'ISFJ') & (df['city'] == '경기')]['age'].max()

np.float64(90.0)

##### T1-8 누적합/보간

- 주어진 데이터 셋에서 'f2' 컬럼이 1인 조건에 해당하는 데이터의 'f1'컬럼 누적합을 계산한다. 이때 발생하는 누적합 결측치는 바로 뒤의 값을 채우고, 누적합의 평균값을 출력한다. (단, 결측치 바로 뒤의 값이 없으면 다음에 나오는 값을 채워넣는다)
- basic1.csv

In [36]:
# dir(pd.Series) # cumsum
# help(pd.Series.cumsum) # self, axis, skipna
# dir(pd.Series) # bfill, backfill
# help(pd.Series.bfill) # self, axis, inplace, limit

In [ ]:
df = pd.read_csv('../data/basic1.csv')
df.head()

df_f2 = df[df['f2'] == 1]
df_f2.head()

# df_f2.isnull().sum() # f1 : 11
df_f2['f1'] = df_f2['f1'].bfill()
df_f2.isnull().sum()

df_f2['f1'] = df_f2['f1'].cumsum()
print(df_f2['f1'].mean())

1315.2702702702702

C:\Users\LGCARE\AppData\Local\Temp\ipykernel_14564\994003479.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_f2['f1'] = df_f2['f1'].bfill()
C:\Users\LGCARE\AppData\Local\Temp\ipykernel_14564\994003479.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_f2['f1'] = df_f2['f1'].cumsum()

In [47]:
# T1-8 sol)

# s.fillna(method='bfill') # 바로 뒤값으로 채워넣는 방법
# s.fillna(method='pad') # 이전값으로 채워넣는 방법
df = pd.read_csv('../data/basic1.csv')
df2 = df[df['f2']==1]['f1'].cumsum()
df2.head(10)

# df2 = df2.fillna(method= 'bfill')
df2 = df2.bfill()
df2.head(10)

print(df2.mean())

980.3783783783783

##### T1-9 표준화(중앙값)

- 주어진 데이터에서 'f5'컬럼을 표준화(Standardization (Z-score Normalization))하고 그 중앙값을 구하시오¶
- 데이터셋 : basic1.csv

In [54]:
import numpy as np

df = pd.read_csv('../data/basic1.csv')

from sklearn.preprocessing import StandardScaler

std_scaler = StandardScaler()

f5_arr = np.array(df['f5']).reshape(-1, 1)

df['f5'] = std_scaler.fit_transform(f5_arr)
print(df['f5'].median())

0.260619629559015

In [55]:
# T1-9 Sol)

# 참고)
# scaler = StandardScaler()
# print(scaler.fit(data))
# print(scaler.transform(data))

df = pd.read_csv('../data/basic1.csv')

from sklearn.preprocessing import StandardScaler

std_scaler = StandardScaler()
df['f5'] = std_scaler.fit_transform(df[['f5']])
print(df['f5'].median())

0.260619629559015

##### T1-10 Yeo-Johnson & Box-Cox

##### T1-11 min-max scaling

##### T1-12 상하위 10개 추출

##### T1-13 상관관계

##### T1-14 Multilndex + Groupby

##### T1-15 조건 필터링 + 중앙값 대체

##### T1-16 분산 계산

##### T1-17 시계열1(datetime)

##### T1-18 시계열2 (평일/주말)

##### T1-19 시계열3 (월별 총계)

##### T1-20 데이터 병합

##### T1-21 Binning Data

##### T1-22 시계열(Weekly)

##### T1-23 중복 제거 및 결측치 처리

##### 기타)
##### T1-24 Lagged Feature
##### T1-25 문자열 처리(슬라이싱)
##### T1-26 문자열 포함 여부
##### T1-27 문자열 치환
##### T1-28 빈도 계산(value_counts)
##### T1-29 날짜 형식 변환
##### T1-30 시계열 비율 계산
##### T1-31 Melt 전체
##### T1-32 Melt 일부
##### T1-33 Timedelta 계산
##### T1-34 패턴/선호도 분석 (난이도: 상)
##### T1-35 피드백-문자와 시계열 (난이도: 중)